absl-py
aiodns
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
appdirs
argcomplete
argon2-cffi
arrow
asttokens
async-timeout
attrs
Babel
bcc
bcrypt
beautifulsoup4
bleach
blinker
Brlapi
Brotli
buildozer
bytecode
cachetools
certifi
cffi
chardet
click
cloud-init
colorama
colorlog
comm
command-not-found
commonmark
configobj
contourpy
coverage
cryptography
cssselect
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distlib
distro
distro-info
docutils
duplicity
entrypoints
et-xmlfile
executing
fastapi
fasteners
fastjsonschema
filelock
filetype
Flask
Flask-SQLAlchemy
fonttools
frozenlist
fs
fsspec
gitdb
GitPython
greenlet
gunicorn
h11
h5py
html5lib
httpcore
httplib2
httpx
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jaraco.classes
jedi
jeepney
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jupyter-console
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab_widgets
kazam
keras
keyring
Kivy
Kivy-examples
Kivy-Garden
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lightgbm
louis
lxml
lxml-html-clean
lz4
Mako
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
monotonic
more-itertools
mpmath
multidict
munkres
nala
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
netaddr
netifaces
networkx
nltk
notebook
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
odfpy
olefile
opencv-python
openpyxl
optree
optuna
packaging
Panda3D
pandas
pandas-stubs
pandocfilters
paramiko
parso
pexpect
pillow
pipx
platformdirs
plotly
pluggy
prometheus-client
prompt_toolkit
protobuf
proton-core
proton-keyring-linux
proton-keyring-linux-secretservice
proton-vpn-api-core
proton-vpn-gtk-app
proton-vpn-killswitch-network-manager
proton-vpn-killswitch-network-manager-wireguard
proton-vpn-logger
proton-vpn-network-manager
proton-vpn-network-manager-openvpn
proton-vpn-network-manager-wireguard
psutil
ptyprocess
pure_eval
py
py-cpuinfo
pyarrow
pycairo
pycares
pycparser
pycups
pydantic
pydantic_core
pydeck
pydevd
pygame
Pygments
PyGObject
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
pytest
python-apt
python-dateutil
python-debian
python-gnupg
